@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #89040c;
  --color-secondary: #154293;
  --color-accent: #0f023e;
  --color-background: #EDF1F4;
  --color-text: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

/* Add more utility classes as needed */
